In [41]:
import pandas as pd

In [42]:
df_lenses = pd.read_csv('Lenses/lenses.csv', header= None)
df_lenses

     0  1  2  3  4  5
0    1  1  1  1  1  3
1    2  1  1  1  2  2
2    3  1  1  2  1  3
3    4  1  1  2  2  1
4    5  1  2  1  1  3
5    6  1  2  1  2  2
6    7  1  2  2  1  3
7    8  1  2  2  2  1
8    9  2  1  1  1  3
9   10  2  1  1  2  2
10  11  2  1  2  1  3
11  12  2  1  2  2  1
12  13  2  2  1  1  3
13  14  2  2  1  2  2
14  15  2  2  2  1  3
15  16  2  2  2  2  3
16  17  3  1  1  1  3
17  18  3  1  1  2  3
18  19  3  1  2  1  3
19  20  3  1  2  2  1
20  21  3  2  1  1  3
21  22  3  2  1  2  2
22  23  3  2  2  1  3
23  24  3  2  2  2  3

In [43]:
# Criar indices de colunas

colunas = ['indice', 'idade', 'oculos', 'astigmatismo', 'taxa_lagrimas', 'classe']
df_lenses.columns = colunas
df_lenses.head()

   indice  idade  oculos  astigmatismo  taxa_lagrimas  classe
0       1      1       1             1              1       3
1       2      1       1             1              2       2
2       3      1       1             2              1       3
3       4      1       1             2              2       1
4       5      1       2             1              1       3

In [44]:
# Remover a coluna indice

df_lenses.drop(columns = ['indice'], inplace=True) # Esse Inplace é para que a alteração seja feita no próprio dataframe. Data frame é um objeto mutável. Isso aí que você consegue ver logo abaixo
df_lenses.head()

   idade  oculos  astigmatismo  taxa_lagrimas  classe
0      1       1             1              1       3
1      1       1             1              2       2
2      1       1             2              1       3
3      1       1             2              2       1
4      1       2             1              1       3

In [45]:
# alterar os valores das variaveis
df_lenses['idade_txt'] = df_lenses['idade'].map({1:'young', 2:'pre-presbyopic', 3:'presbyopic'})
df_lenses['oculos_txt'] = df_lenses['oculos'].map({1:'myope', 2:'hypermetrope'})
df_lenses['astigmatismo_txt'] = df_lenses['astigmatismo'].map({1:'no', 2:'yes'})
df_lenses['taxa_Lagrimas_txt'] = df_lenses['taxa_lagrimas'].map({1:'reduced', 2:'normal'})
df_lenses['classe_txt'] = df_lenses['classe'].map({1:'hard', 2:'soft', 3:'no'})

df_lenses.head()

,idade,oculos,astigmatismo,taxa_lagrimas,classe,idade_txt,oculos_txt,astigmatismo_txt,taxa_Lagrimas_txt,classe_txt
0,1,1,1,1,3,young,myope,no,reduced,no
1,1,1,1,2,2,young,myope,no,normal,soft
2,1,1,2,1,3,young,myope,yes,reduced,no
3,1,1,2,2,1,young,myope,yes,normal,hard
4,1,2,1,1,3,young,hypermetrope,no,reduced,no

In [46]:
from sklearn.preprocessing import TargetEncoder
import category_encoders as ce # Esse é um pacote que tem um monte de codificadores de variáveis categóricas

In [55]:
target_encoding = ce.TargetEncoder(cols=['taxa_Lagrimas_txt']) # Aqui eu estou criando um objeto do tipo TargetEncoder. O parâmetro cols é para dizer quais colunas eu quero codificar

# O target_encoding armazena a relação entre a variável que eu quero codificar e a variável resposta, ou seja, ele armazena a média da variável resposta para cada valor da variável que eu quero codificar.

# Somamos todas as variáveis resposta para cada valor da variável que eu quero codificar e dividimos pelo número de vezes que cada valor aparece. Isso é a média da variável resposta para cada valor da variável que eu quero codificar.

target_encoding.fit(df_lenses['taxa_Lagrimas_txt'], df_lenses['classe']) # Aqui eu estou treinando o codificador. O primeiro parâmetro é a variável que eu quero codificar e o segundo é a variável resposta

novo_valor = target_encoding.transform(df_lenses[['taxa_Lagrimas_txt']]) # Aqui eu estou aplicando a transformação. O parâmetro é a variável que eu quero codificar

In [62]:
df_target = pd.concat([df_lenses, novo_valor], axis=1)
df_lenses['classe_txt'].value_counts()

classe_txt
no      15
soft     5
hard     4
Name: count, dtype: int64

In [ ]:
df_target